<div class="container">

    <div class="card">
        <form (ngSubmit)="doSubmitForm()">

        <h1>Compose Gmail...</h1>

        <mat-form-field class="field" appearance="outline">
            <mat-label>To</mat-label>
            <input name="to" [(ngModel)]="data.to" matInput>
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
            <mat-label>Subject</mat-label>
            <input name="subject" [(ngModel)]="data.subject"  matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width field">
            <mat-label>Enter your message</mat-label>
            <textarea name="message" [(ngModel)]="data.message" rows="7" matInput placeholder="Hey, what are u doing..."></textarea>
        </mat-form-field>

        <mat-spinner  [diameter]="50" *ngIf="flag" style="margin: auto;"></mat-spinner>

        <div class="buttons">
            <button [disabled]="flag" type="submit" mat-raised-button color="primary">Send</button>
            <button type="reset" mat-raised-button color="accent">Reset</button>
        </div>

        <!-- {{ data | json }} -->

        </form>
    </div>
</div> 