<div class="container1">

    <h1>WelCome to Gmail Sender and Tracker App...</h1>
    <div class="sendandtrack">
        <div class="send">
            <h3>Send Gmail to anyone... </h3>
        <a routerLink="/sendgmail" mat-raised-button color="warn" (click)="btnClick()">Send Email </a>
        </div>
        <div class="track">
            <h3>Track mails ... </h3>
        <a routerLink="/emailhistory" mat-raised-button color="primary" (click)="emailHistory()">Email History </a>
        </div>
    </div>

</div>